<launch>
  <node pkg="robot_kcftracker" name="robot_kcftracker_node" type="robot_kcftracker_node" output="screen">
  <!--param name="subscribed_topic" type="string" value="/dji_sdk/image_raw"/-->
  <param name="subscribed_topic" type="string" value="/my_video"/>
  
  <param name="save_set_flag" type="bool" value="false"/>
  <param name="set_folder" type="string" value="/home/ubuntu/ros_my_workspace/src/robot_kcftracker/set/"/>
  
  <param name="show_video_flag" type="bool" value="true"/>
  <param name="save_video_flag" type="bool" value="true"/>
  <param name="video_file_name" type="string" value="/home/ubuntu/ros_my_workspace/src/robot_kcftracker/result/kcf.avi"/>
  <param name="video_rate" type="double" value="12.0"/>
  
  <param name="hog_flag" type="bool" value="true"/>
  <param name="fixed_window_flag" type="bool" value="false"/>
  <param name="multiscale_flag" type="bool" value="true"/>
  <param name="lab_flag" type="bool" value="true"/>
  </node>
</launch>

